body{
    background-image: url(images/logo\ marseille.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.5);
} 

main{
    margin-left: 150px;
    margin-right: 150px;
    background-color: rgba(255, 255, 255, 0.8);
}

.titre1{
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 20px;
    font-size: 80px;
}

h2{
    color: rgb(0, 0, 0);
    font-size: large;
    text-decoration: none;
    text-align: center;
}

p{
    color: rgb(0, 0, 0);
    font-size: large;
}

.liste-histoire{
    color: rgb(0, 0, 0);
    margin-left: 100px;
    margin-right: 100px;
}

.art{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px;
}