.fond-image{
    position: fixed;
    filter: opacity(10%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fond-image img{
    height: 100vh;
}

h1{
    color: rgb(0, 0, 0);
    font-size: bold;
    text-decoration: none;
    text-align: center;
}

h2{
    color: rgb(0, 0, 0);
    font-size: large;
    text-decoration: none;
    text-align: center;
}

p{
    color: rgb(0, 0, 0);
}

ul{
    color: rgb(0, 0, 0);
}