#titre{
    color: black;
    font-size: xx-large;
    text-align: center;
}

.fond-image1{
    background-repeat: no-repeat;
    filter:opacity(40%);
}

h1{
    color: rgb(0, 0, 0);
    font-size: bold;
    text-decoration: none;
    text-align: center;
}

h2{
    color: rgb(0, 0, 0);
    font-size: large;
    text-decoration: none;
    text-align: center;

}

p{
    color: rgb(0, 0, 0);
}

ul{
    color: rgb(0, 0, 0);
}


.pics{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 10%;
    padding: 20px 10px;
    
}